.top{
    display: flex;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image{
    object-fit: cover;
}

.author{
    display: flex;
    align-items: center;
    gap: 10px;
}

.desc{
    font-size: 18px;
}

.imageContainer{
    height: 300px;
    position: relative;
    flex: 1;
}

.avatar{
    object-fit: cover;
    border-radius: 50%;
}

.content{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 300;
    color: #999;
    text-align: justify;
}